<ion-content>
  <div class="flex-center">
    <div>
      <ion-card>
        <ion-card-content>
          <ion-item>
            <ion-label position="floating">Username</ion-label>
            <ion-input type="text" [(ngModel)]="username"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Birthdate</ion-label>
            <ion-input type="date" placeholder="none" [(ngModel)]="bdate"></ion-input>
          </ion-item>
          <ion-radio-group [(ngModel)]="gender">
            <ion-list-header>
              <ion-label>Gender</ion-label>
            </ion-list-header>
            <ion-item>
              <ion-label>Male <ion-icon name="male"></ion-icon></ion-label>
              <ion-radio slot="start" value="male"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Female <ion-icon name="female"></ion-icon></ion-label>
              <ion-radio slot="start" value="female"></ion-radio>
            </ion-item>
          </ion-radio-group>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" [(ngModel)]="email"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password" [(ngModel)]="password"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Repeat Password</ion-label>
            <ion-input type="password" [(ngModel)]="rpassword"></ion-input>
          </ion-item>
          <ion-button type="submit" expand="block" color="success" (click)="register()"><ion-icon name=""></ion-icon>Create Account</ion-button>
          <ion-button expand="block" fill="black" (click)="login()"><ion-icon name=""></ion-icon>Back to Login</ion-button>
        </ion-card-content>
      </ion-card>
    </div>
</div>
</ion-content>